*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
}
.campoPreenchimento{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    background-color: white;
    height: 228px;
    border-radius: 10px 10px 0px 0px;
}
input{
    width: 50%;
}
input[type = "button"]{
    width: 20%;
}
#campoResultado{
    width: 100%;
    margin: auto;
    background-color: white;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    height: 100px;
}